<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Https.Port" value="443" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
  </appSettings>
  <system.web>
    <compilation debug="false" xdt:Transform="SetAttributes(debug)" />
    <httpCookies httpOnlyCookies="true" requireSSL="true" xdt:Transform="SetAttributes(httpOnlyCookies,requireSSL)" />
    <customErrors mode="On" xdt:Transform="SetAttributes(mode)" />
  </system.web>
</configuration>
